
<div class="container div col-6">
    <div class="row justify-content-center ">
      
        <div ><h1>Profile</h1><br>
            Firstname : {{profiledata.firstname}}
           
        </div>
        <div >
            Lastname : {{profiledata.lastname}}
            
        </div>
        <div >
            Email : {{profiledata.email}}
           
        </div>
        <div >
            Mobile number: {{profiledata.number}}
            
        </div>
        <div >
            Date of birth : {{profiledata.date}}
            
        </div>
        <div >
            City : {{profiledata.city}}
           
        </div>
        <div >
            State : {{profiledata.state}}
            
        </div>
        <div >
            Pincode : {{profiledata.pincode}}
            
        </div>
    </div>  
  </div>
